<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand fs-3 text-danger-emphasis" routerLink="/">
        <i class="fa-solid fa-house-chimney-crack"></i>
        e-Trade</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-danger-emphasis" routerLink="/basket"aria-current="page">
              <i class="fa-solid fa-basket-shopping"></i>
              Cart
              <span class="badge text-bg-secondary">{{baskets.length}}</span>
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn custom-btn text-danger-emphasis  border border-danger-subtle" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


  <router-outlet></router-outlet>
